<h1 id="truth-vs-bs">Truth vs BS</h1>
<p>2025-05-26</p>
<p>Considering current times, the number of books and mass media, the
situation is a lot worse today. Also, no country has fallen as Roman
Empire did… So it’s a lot worse but global dynamics also evolved.
Untruth existed for a long time and there’s nothing new about mind
boggling nonsense that affected (negatively) the history of mankind.
From <span class="citation"
data-cites="phillipsTruthBriefHistory2020">Phillips (2020)</span></p>
<blockquote>
<p>It is impossible for someone to lie unless he thinks he knows the
truth. Producing bullshit requires no such conviction. - Harry G
Frankfurt Truth had ever one father but lies a 1000 men’s bastards. -
Montaigne We have reason to fear that multitude of books which grows
everyday will make the following centuries fall into a state as
barbarous as that of the centuries that followed the fall of Roman
Empire. - Written in 1685 by French Scholar Adrien Baillet There’s an
extremely limited number of ways of being right and an almost infinite
number of ways to be wrong.</p>
</blockquote>
<h2 id="reference">Reference</h2>
<div class="{{#refs}}">

</div>
<div id="refs" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" data-line-spacing="2" role="list">
<div id="ref-phillipsTruthBriefHistory2020" class="csl-entry"
role="listitem">
Phillips, T. (2020). <em>Truth: a brief history of total bullsh*t</em>.
</div>
</div>
