<h1 id="the-art-of-practicing">The Art of Practicing</h1>
<p>2022-08-07</p>
<h2 id="one-sentence-summary">One Sentence Summary</h2>
<p>The Art of Practicing by <span class="citation"
data-cites="bruserArtPracticingGuide1999">(Bruser &amp; Menuhin,
1999)</span> contains wisdom and practical advise. Performance as a
practice see page 216.</p>
<h2 id="a-ten-step-approach">A Ten-Step Approach</h2>
<ol type="1">
<li>Stretch</li>
<li>Settle down in your environment: Be present, correct posture,
breathing.</li>
<li>Tune into your heart: Recalling profound feelings is how to tune
into your heart.</li>
<li>Use your body in a comfortable and natural way. Mechanics, habits
and emotions…</li>
<li>Follow your curiosity as you practice.</li>
<li>Recognize three styles of struggle:
<ol type="1">
<li>Overstated passion, in which we cling to the music.</li>
<li>Avoidance, in which we resist dealing with the music.</li>
<li>Aggression, in which we attack the music.</li>
</ol></li>
<li>Drop your attitudes and be simple.</li>
<li>Apply three listening techniques:
<ol type="1">
<li>Sing the notes and lines.</li>
<li>Place your attention on the vibrations.</li>
<li>Place your attention on each sound as it resonates in the space
around you.</li>
</ol></li>
<li>Organize notes into groups, phrases, and textures.</li>
<li>Place your attention on the sensations of touch and movement.</li>
</ol>
<h2 id="key-takeaways">Key Takeaways</h2>
<ol type="1">
<li>Relax, tension is your worst enemy</li>
<li>Hear the music you’re playing</li>
<li>Be gentle to yourself</li>
<li>Do not over practice, short mindful work is superior to long
laboured practice sessions.</li>
</ol>
<h2 id="miscellaneous-notes">Miscellaneous Notes</h2>
<ul>
<li>Swing the music instead of sounding like sewing machine. Group notes
and play them by creating a forward motion.</li>
<li>Focus on more on the sensations of touch and movement and use your
vision mainly to check that what you feel is in accord with what you
see. <span class="citation"
data-cites="bruserArtPracticingGuide1999">Bruser &amp; Menuhin (1999, p.
200)</span>.</li>
<li>Think the sound you make. Then discover the sensation your brain has
created for you. <span class="citation"
data-cites="bruserArtPracticingGuide1999">Bruser &amp; Menuhin (1999, p.
201)</span>.</li>
</ul>
<h2 id="reference">Reference</h2>
<div id="refs" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" data-line-spacing="2" role="list">
<div id="ref-bruserArtPracticingGuide1999" class="csl-entry"
role="listitem">
Bruser, M., &amp; Menuhin, Y. (1999). <em>The Art of Practicing: A Guide
to Making Music from the Heart</em> (Illustrated edition). Crown.
</div>
</div>
