<h1 id="good-over-perfect">Good Over Perfect</h1>
<p>2023-09-05</p>
<h2 id="radical-simplicity">Radical Simplicity</h2>
<ul>
<li>Scalability and interoperability take precedence over a multitude of
nonessential features.</li>
<li>Scalability derives from simplicity, speed, and ease of use.
Interoperability stems from clear, unembellished content.</li>
<li>Minimizing distractions enhances the quality of writing and the
productivity of reading.</li>
<li>New features must not complicate the simplest use case and should
remain unobtrusive to users who do not require them.</li>
</ul>
<h2 id="iterate">Iterate</h2>
<p>Continuous improvement is more valuable than striving for
perfection.</p>
<p><a
href="https://google.github.io/styleguide/docguide/philosophy.html">Source.</a></p>
<div id="refs" role="list">

</div>
