<h1 id="n-rules-for-life">n Rules for Life</h1>
<p>2025-07-19</p>
<ol type="1">
<li>The mind, like nature, abhors a vacuum. Deprived of real suffering,
it fabricates troubles of its own, magnifying the trivial until it
becomes unbearable. [Unknown]</li>
<li>The absence of hardship does not bring peace; it breeds
restlessness. [Unknown]</li>
<li>A single lie lingers, no matter how many truths try to wash it away.
[Unknown]</li>
<li>When nothing is done, everything is done <span class="citation"
data-cites="tzuTaoTeChing1989">(Tzu &amp; Needleman, 1989)</span>, thus
do absolutely nothing unless it must be done absolutely.</li>
<li>The most essential ingredient in any recipe is the appetite of those
to whom the meal is served. [Unknown]</li>
<li>Always be truthful in your actions, even when the truth is
inconvenient. However, never tell the truth when dealing with a fool,
for only a fool is capable of distorting and destroying the truth.
[Unknown]</li>
<li>The universe operates on principles that prevent total destruction,
but these same principles also limit easy solutions to life’s problems.
[Unknown]</li>
<li>If we read too quickly or too slowly, we understand nothing. The
same applies to wine—too much or too little. Deprive him entirely, and
he cannot grasp the truth; give him too much, and it slips away just the
same. <span class="citation" data-cites="pascalPensees2011">(Pascal
&amp; Eliot, 2011)</span></li>
<li>We don’t depend only on our own strength; we balance two opposing
flaws, like maintaining balance with conflicting forces. If we remove
one, we fall into the other. <span class="citation"
data-cites="pascalPensees2011">(Pascal &amp; Eliot, 2011)</span></li>
<li>Aristoteles’s maxim: We should not expect precision from a theory
beyond what its subject matter will bear. If poetry is not math, neither
is virtue and vice. <span class="citation"
data-cites="jamesAssholesTheory2014">(James, 2014)</span></li>
<li>Analogy is not equivalency. The former provides insight, the latter
truth. [Unknown]</li>
<li>Learn to stop at 80% limit, while eating, talking and working.
[Unknown]</li>
<li>If you cannot solve the proposed problem, try to solve first some
related problem. <span class="citation"
data-cites="polyaHowSolveIt2014">Polya &amp; Conway (2014)</span></li>
<li>Depth over breadth. Refine fundamentals and grow incrementally.
<span class="citation"
data-cites="waitzkinArtLearningJourney2007">(Waitzkin, 2007)</span></li>
<li>Work but do not take credit, create but do not claim, lead but do
not interfere. <span class="citation"
data-cites="tzuTaoTeChing1989">(Tzu &amp; Needleman, 1989)</span></li>
<li>Concision is to mind what cleanliness is to the body. <span
class="citation" data-cites="dalrympleMidnightMaxims2021">Dalrymple
(2021)</span></li>
<li>Life isn’t a problem to be solved, find the flow state in everything
you do, and you will live a good life. <span class="citation"
data-cites="garciaIkigaiJapaneseSecret2017">(García et al.,
2017)</span>.</li>
<li>Organizations default to bureaucracy. People default to
distraction.</li>
<li>Roughly 80% of outcomes come from 20% of causes (see Pareto
principle).</li>
<li>The square root of the number of people in a productive domain
produce half of its total output. (Price’s Law)</li>
<li>When a measure becomes a target, it ceases to be a good measure (see
Goodhart’s Law)</li>
<li>Work expands to fill the time available for its completion (see
Parkinson’s law).</li>
<li>Don’t be a perfectionist. The desire for perfection could be a
deadly weakness by György Sebők in <span class="citation"
data-cites="denkEveryGoodBoy2022">Denk (2022)</span>.</li>
<li>Acute differences positively manifest unity and that you cannot
conceive the one without the other. <span class="citation"
data-cites="wattsMyOwnWay2007">Watts (2007, p. 104)</span> (see
<em>Ji-ji-mu-ge principle</em>: all things and events are mutually
interpenetrating and interdependent. <span class="citation"
data-cites="wattsMyOwnWay2007">Watts (2007, p. 120)</span>).</li>
<li>You are what you think: Keep an untroubled spirit; for all things
must bow to Nature’s Law. <span class="citation"
data-cites="aureliusMeditationsNewTranslation2003">Aurelius
(2003)</span>.</li>
<li>Accept things as they are whether agreeable or disagreeable. <span
class="citation" data-cites="suzukiZenMindBeginner2020">Suzuki
(2020)</span>.</li>
<li>There’s an extremely limited number of ways of being right and an
almost infinite number of ways to be wrong. <span class="citation"
data-cites="phillipsTruthBriefHistory2020">Phillips (2020)</span>.</li>
<li>Focus not so much on words but on actual behavior. (Don’t watch his
mouth, watch his hands. – Adler’s dictum).</li>
<li>Make everything as simple as possible, but not simpler. (Albert
Einstein).</li>
<li>Perceive those things which cannot be seen (e.g. pay attention even
to trifle). And do nothing which is of no use. (Miyamoto Musashi).</li>
<li>Life is often capricious, unfair and sometimes cruel. <span
class="citation" data-cites="murakamiNovelistVocation2022">Murakami
(2022, p. 126)</span>.</li>
<li>Non-stupid people always underestimate the damaging power of stupid
individuals. In particular, non-stupid people constantly forget that at
all times and places and under any circumstances to deal and/or
associate with stupid people infallibly turns out to be a costly
mistake. <span class="citation"
data-cites="cipollaBasicLawsHuman2019">Cipolla (2019)</span>.</li>
<li>Never lose sight of ultimate purpose, your physical and mental
health: You’re sane and breathing this minute and may be gone forever
the next minute. (Unknown, probably Aurelius) Maintain your physical
fitness and sanity.</li>
<li>Putting things off is the biggest waste of life: it snatches away
each day as it comes, and denies us the present by promising future. The
whole future lies in uncertainty. Live immediately. <span
class="citation" data-cites="senecaShortnessLifeOther1997">Seneca (1997,
p. 13)</span>.</li>
<li>Practice any art, music, singing, dancing, acting, drawing,
painting, sculpting, poetry, fiction, essays, reportage, no matter how
well or badly, not to get money and fame, but to experience becoming, to
find out what’s inside you, to make your soul grow. – Kurt
Vonnegut.</li>
<li>No hurry, no pause: When you rush, time shrinks. When you’re
relaxed, time expands. This is true even though it’s very hard for the
mind to get. When you’re relaxed and doing something willingly, you’re
participating in life. (Jon Schreiber, Breema Center)</li>
<li>Reflect on what you’ve read and written: Information becomes
knowledge by reflection. Reflection cultivates intuition. Abundant
intuition makes up for lack of information thereby enabling you operate
where your knowledge is limited. (Unknown).</li>
<li>Give your attention proportioned to the merits of the case:
Sometimes full attention, sometimes none. (Unknown).</li>
<li>Do not try to stay on top of things (you cannot). Instead, try to
get to the bottom of things. (This kind of success, while not
guaranteed, will be more fulfilling than the former).</li>
<li>It is more important to invest in good people than in good ideas.
(bet on the jockey not the horse).</li>
<li>One who makes a show of valor is hated by others, even he achieves
something, it is not praised but denied. (Kumazawa Banzan).</li>
<li>In the short term, you are as good as your intensity. In the long
term, you are only as good as your consistency.</li>
<li>We read the same facts differently. For an optimist philosopher the
universe spells victory, for a pessimist, defeat. (William James, from
Pragmatism and Other Writings).</li>
</ol>
<p><code>Revised on • 2025-March-15 • 2025-March-04 • 2025-February-02 • 2024-November-03 • 2024-October-10 • 2024-August-28 • 2024-August-18 • 2024-June-14 • 2024-May-26 • 2024-March-06 • 2024-February-23 • 2024-February-20 • 2024-February-17 • 2024-February-13 • 2024-February-07 • 2024-January-21 • 2023-November-20 • 2023-November-14 • 2023-November-10 • 2023-October-23 • 2023-September-25 • 2023-September-17 • 2023-June-25 • 2023-June-23 • 2023-May-16 • 2023-February-10 • 2023-February-07.</code></p>
<h3 id="references">References</h3>
<div class="{{#refs}}">

</div>
<div id="refs" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" data-line-spacing="2" role="list">
<div id="ref-aureliusMeditationsNewTranslation2003" class="csl-entry"
role="listitem">
Aurelius, M. (2003). <em>Meditations: A New Translation</em> (G. Hays,
Trans.; Revised ed. edition). Modern Library.
</div>
<div id="ref-cipollaBasicLawsHuman2019" class="csl-entry"
role="listitem">
Cipolla, C. M. (2019). <em>The Basic Laws of Human Stupidity</em>.
</div>
<div id="ref-dalrympleMidnightMaxims2021" class="csl-entry"
role="listitem">
Dalrymple, T. (2021). <em>Midnight Maxims</em>. Mirabeau Press.
</div>
<div id="ref-denkEveryGoodBoy2022" class="csl-entry" role="listitem">
Denk, J. (2022). <em>Every Good Boy Does Fine: A Love Story in Music
Lessons</em> (First edition). Random House.
</div>
<div id="ref-garciaIkigaiJapaneseSecret2017" class="csl-entry"
role="listitem">
García, H., Miralles, F., Cleary, H., &amp; García, H. (2017).
<em>Ikigai: the Japanese secret to a long and happy life</em>. Penguin
Books.
</div>
<div id="ref-jamesAssholesTheory2014" class="csl-entry" role="listitem">
James, A. (2014). <em>Assholes: A Theory</em> (Reprint edition). Anchor.
</div>
<div id="ref-murakamiNovelistVocation2022" class="csl-entry"
role="listitem">
Murakami, H. (2022). <em>Novelist as a Vocation</em> (P. Gabriel &amp;
T. Goossen, Trans.). Bond Street Books.
</div>
<div id="ref-pascalPensees2011" class="csl-entry" role="listitem">
Pascal, B., &amp; Eliot, P. T. S. (2011). <em>Pensees</em> (W. F.
Trotter, Trans.; 1st Folio Edition). Benediction Classics.
</div>
<div id="ref-phillipsTruthBriefHistory2020" class="csl-entry"
role="listitem">
Phillips, T. (2020). <em>Truth: a brief history of total bullsh*t</em>.
</div>
<div id="ref-polyaHowSolveIt2014" class="csl-entry" role="listitem">
Polya, G., &amp; Conway, J. H. (2014). <em>How to Solve It: A New Aspect
of Mathematical Method</em> (With a Foreword by John H. Con ed.
edition). Princeton University Press.
</div>
<div id="ref-senecaShortnessLifeOther1997" class="csl-entry"
role="listitem">
Seneca. (1997). <em>On the Shortness of Life [and other works] by
Seneca</em>.
</div>
<div id="ref-suzukiZenMindBeginner2020" class="csl-entry"
role="listitem">
Suzuki, S. (2020). <em>Zen Mind, Beginner’s Mind: 50th Anniversary
Edition</em> (Anniversary edition). Shambhala.
</div>
<div id="ref-tzuTaoTeChing1989" class="csl-entry" role="listitem">
Tzu, L., &amp; Needleman, J. (1989). <em>Tao Te Ching: Text Only
Edition</em> (G.-F. Feng, J. English, &amp; T. Lippe, Trans.; Reprint
edition). Vintage.
</div>
<div id="ref-waitzkinArtLearningJourney2007" class="csl-entry"
role="listitem">
Waitzkin, J. (2007). <em>The art of learning: a journey in the pursuit
of excellence</em>. Free Press.
</div>
<div id="ref-wattsMyOwnWay2007" class="csl-entry" role="listitem">
Watts, A. (2007). <em>In My Own Way: An Autobiography</em>. New World
Library.
</div>
</div>
