<h1 id="mono-no-aware">Mono no aware</h1>
<p>2025-05-19</p>
<p>In <a
href="https://plato.stanford.edu/entries/japanese-aesthetics/#MonoNoAwarPathThin">Japanese
esthetics</a> pathos of things played a major role in the world’s first
novel, Murasaki Shikibu’s Genji monogatari (The Tale of Genji), going
back to the early eleventh century.</p>
<p>The meaning of the phrase mono no aware, simply put, is awareness of
impermanence. This brings about some degree of melancholy but mono no
aware teaches us the realities of life.</p>
<div id="refs" role="list">

</div>
