<h1 id="on-rigidity">On Rigidity</h1>
<p>2023-10-20</p>
<p>Rigid things have a tendency to break. For example, physical things
like airplane wings or ships will flex and not break when in turbulence.
Non-physical things such as rules, procedures, and protocols, unless
flexible, will break when under pressure.</p>
<p>Flexible things have a tendency to adapt. Thus, it’s important to
find a balance between rigidity and flexibility. Strong enough to
withstand and weak enough to conform and all the while maintain physical
and non-physical integrity.</p>
<p>Perfectionism and idealism bring about rigidity; keep that in mind,
always. The problem is that you are a perfectionist. The desire for
perfection could be a deadly weakness; see <span class="citation"
data-cites="denkEveryGoodBoy2022">Denk (2022)</span>.</p>
<h2 id="reference">Reference</h2>
<div id="refs" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" data-line-spacing="2" role="list">
<div id="ref-denkEveryGoodBoy2022" class="csl-entry" role="listitem">
Denk, J. (2022). <em>Every Good Boy Does Fine: A Love Story in Music
Lessons</em> (First edition). Random House.
</div>
</div>
