<h1 id="gemba-kaizen">Gemba Kaizen</h1>
<p>2024-10-01</p>
<p>The word Gemba means “the actual place” in Japanese; it refers to the
location where value is created. Kaizen relates to improvements, however
the concept of Gemba Kaizen refers to a strategy employed by companies
to enhance their manufacturing performance.</p>
<h2 id="the-five-ss-of-kaizen">The “Five Ss” of Kaizen</h2>
<h3 id="seiri">Seiri</h3>
<p>It stands for sort, remove all unnecessary items from the work
environment.</p>
<h3 id="seiton">Seiton</h3>
<p>The second S means set things in order or organize.</p>
<h3 id="seiso">Seiso</h3>
<p>The third S means clean or shine, keep work space neat.</p>
<h3 id="seiketsu">Seiketsu</h3>
<p>Seiketsu means standardize, systematizing the first three steps to
make sure they are being properly practiced in the workplace
everyday.</p>
<h3 id="shitsuke">Shitsuke</h3>
<p>This last S means sustain. Sustaining the changes will lead to the
desired results.</p>
<div id="refs" role="list">

</div>
