<h1 id="on-stupidity">On Stupidity</h1>
<p>2025-05-04</p>
<p>The basic laws assert that (<span class="citation"
data-cites="cipollaBasicLawsHuman2019">Cipolla (2019)</span>)</p>
<ol type="1">
<li>Always and inevitably everyone underestimates the number of stupid
individuals in circulation.</li>
<li>The probability that a certain person be stupid is independent of
any characteristic of that person.</li>
<li>A stupid person is a person who causes losses to another person or
to a group of persons while himself deriving no gain and even possibly
incurring losses.</li>
<li>Non-stupid people always underestimate the damaging power of stupid
individuals. In particular non-stupid people constantly forget that at
all times and places and under any circumstances to deal and/or
associate with stupid people infallibly turns out to be a costly
mistake.</li>
<li>A stupid person is the most dangerous type of person. A stupid
person is more dangerous than a bandit.</li>
</ol>
<blockquote>
<p>Intelligence and stupidity are not the opposite of one another, nor
is stupidity the lack of intelligence, but intelligence is the product,
more or less unsuccessful, of a continuous series of attempts to
dominate, or escape, the stupidity that constitutes everything that is
human — Matthijs Van Boxsel.</p>
</blockquote>
<h2 id="reference">Reference</h2>
<div id="refs" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" data-line-spacing="2" role="list">
<div id="ref-cipollaBasicLawsHuman2019" class="csl-entry"
role="listitem">
Cipolla, C. M. (2019). <em>The Basic Laws of Human Stupidity</em>.
</div>
</div>
