<h1 id="fake-news">Fake News</h1>
<p>2025-09-16</p>
<p>The greatest worry about the idea of fake news isn’t actually that
people believe false news - it’s that they stop believing real news.
<span class="citation"
data-cites="phillipsTruthBriefHistory2020">Phillips (2020)</span></p>
<h2 id="reference">Reference</h2>
<div id="refs" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" data-line-spacing="2" role="list">
<div id="ref-phillipsTruthBriefHistory2020" class="csl-entry"
role="listitem">
Phillips, T. (2020). <em>Truth: a brief history of total bullsh*t</em>.
</div>
</div>
