<h1 id="sustain-or-cycle">Sustain or cycle</h1>
<p>2025-05-31</p>
<p>The longer you remain seated and focus on a task, the shallower you
breathe, and the less oxygen gets to your brain. Therefore, quickly step
away from your work and cycle your attention every 20 minutes. Quickly
stepping away from your work to get a drink of water, walk around the
block, or go to the bathroom to splash water on your face allows you to
consciously regulate your breathing and get more oxygen to your brain
(so you can extend your focus session).</p>
<p>During your mini work breaks perform “box breathing” like Navy Seals
do before combat:</p>
<ul>
<li>take a deep four second inhale,</li>
<li>hold for four seconds,</li>
<li>exhale for four seconds,</li>
<li>hold for another four seconds</li>
<li>repeat for the entire work break.</li>
</ul>
<p>When you move during your mini work break, you can replenish the
neurochemicals you need to focus. Dr. Andrew Huberman says, “Physical
movement activates pathways in the brain that increase dopamine, which
is the basis for epinephrine (aka, adrenaline) and all neural energy.”
In other words, a short movement period can provide the fuel to focus
intensely and continue producing at a high level.</p>
<p>Source: <em>Insights from Manage Your Day‐to‐Day by Jocelyn
Glei</em></p>
<div id="refs" role="list">

</div>
