<h1 id="burden-of-proof">Burden of Proof</h1>
<p>2024-05-07</p>
<p>Who should have the burden of proof?</p>
<ul>
<li>To sort things out, the one whoÂ’s causing the mess in the first place
should carry the burden of proof.<br />
</li>
<li>In any interaction, the one taking actionÂ—rather than the one
respondingÂ—should bear the burden of proof.<br />
</li>
<li>In cases of organizations vs.Â individuals, especially in hazardous
situations, the organization should carry the burden of proof. Still,
individuals must use their own judgment to stay safe.</li>
</ul>
<p>In the end, do justly, the best you canÂ—and keep course correcting.
Remember what Dylan said: Â“All the truth in the world adds up to one big
lie.Â”</p>
<div id="refs" role="list">

</div>
