<h1 id="burden-of-proof">Burden of Proof</h1>
<p>2024-05-07</p>
<p>Who should have the burden of proof?</p>
<ul>
<li>To sort things out, the one who’s causing the mess in the first
place should carry the burden of proof.<br />
</li>
<li>In any interaction, the one taking action—rather than the one
responding—should bear the burden of proof.<br />
</li>
<li>In cases of organizations vs. individuals, especially in hazardous
situations, the organization should carry the burden of proof. Still,
individuals must use their own judgment to stay safe.</li>
</ul>
<p>In the end, do justly, the best you can—and keep course correcting.
Remember what Dylan said: “All the truth in the world adds up to one big
lie.”</p>
<div id="refs" role="list">

</div>
