<h1 id="slowing-down-time">Slowing Down Time</h1>
<p>2025-05-31</p>
<p>Focus on a select group of techniques and internalize them until the
mind perceives them in tremendous detail. After training in this manner
we can see more frames in an equal amount of time so things feel slowed
down. <span class="citation"
data-cites="waitzkinArtLearningJourney2007">Waitzkin (2007)</span></p>
<h3 id="reference">Reference</h3>
<div id="refs" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" data-line-spacing="2" role="list">
<div id="ref-waitzkinArtLearningJourney2007" class="csl-entry"
role="listitem">
Waitzkin, J. (2007). <em>The art of learning: a journey in the pursuit
of excellence</em>. Free Press.
</div>
</div>
