<h1 id="practice-as-performance">Practice as Performance</h1>
<p>2025-08-26</p>
<p>I recorded my Week 8 performance, which proceeded smoothly. I have
modified my approach by not recording every exercise, instead focusing
on daily guitar practice and study. On Day 7, following a breathing
session, I played continuously without stopping for mistakes, recording
the full set in a single take. I treated it as a real performance,
beginning with a breath and concluding with a smile. Today, I forgot to
include “Amazing Grace” at the end. There were some mistakes, but they
did not affect me. I particularly appreciated the sound of my
instrument, on which I focused. My emphasis was on tone rather than
speed, except for the last couple of bars of the shuffle in A, where I
played slightly faster than the metronome.</p>
<div id="refs" role="list">

</div>
