<h1 id="asymmetries">Asymmetries</h1>
<p>2025-08-25</p>
<p>I noticed certain asymmetries that govern the relationship between
positive and negative outcomes—for example effort versus gain;
especially once a critical point has been passed, such as the point of
diminishing returns.</p>
<p>The Pareto distribution provides another example of this kind of
asymmetry (roughly 80% of outcomes stem from 20% of causes).</p>
<p>This phenomenon is also discussed by Nassim Nicholas Taleb,
particularly in relation to “long tails.” He frequently emphasizes
asymmetry and fat-tailed distributions in the context of risk,
probability, and decision-making, especially in his books <em>The Black
Swan</em> and <em>Antifragile</em>. <span class="citation"
data-cites="talebBlackSwanSecond2010">N. N. N. Taleb (2010)</span> and
<span class="citation" data-cites="talebAntifragileThingsThat2012">N. N.
Taleb (2012)</span></p>
<h2 id="references">References</h2>
<div id="refs" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" data-line-spacing="2" role="list">
<div id="ref-talebAntifragileThingsThat2012" class="csl-entry"
role="listitem">
Taleb, N. N. (2012). <em>Antifragile: Things That Gain from Disorder
(Incerto)</em>. <a
href="http://www.librarything.com/work/12741704/book/148446270">http://www.librarything.com/work/12741704/book/148446270</a>
</div>
<div id="ref-talebBlackSwanSecond2010" class="csl-entry"
role="listitem">
Taleb, N. N. N. (2010). <em>The Black Swan: Second Edition: The Impact
of the Highly Improbable: With a new section: <span>“On Robustness and
Fragility”</span> (Incerto)</em>. <a
href="http://www.librarything.com/work/1525031">http://www.librarything.com/work/1525031</a>
</div>
</div>
