<h1 id="corb-lund">Corb Lund</h1>
<p>2025-09-07 12:13:00</p>
<p>Corb Lund, a Canadian country and western singer-songwriter from
Taber, Alberta, performed an excellent rendition of Bob DylanÂ’s Â“I Shall
Be ReleasedÂ” on Tuff Radio this morning. Lund has released twelve albums,
with three certified gold. He tours regularly in Canada, the US, and
Australia, and has received awards in both countries. Currently residing
in Lethbridge, Alberta, Lund enjoys spending time at his family
ranch.</p>
<div id="refs" role="list">

</div>
