<h1 id="short-termism">Short-termism</h1>
<p>2025-08-21</p>
<p>Darwin <span class="citation"
data-cites="darwinAutobiographyCharlesDarwin2003">(Darwin, 2003)</span>
documented any information that contradicted his evolving theories and
conclusions. He recognized confirmation bias long before it had a name
and developed a practical system to counteract it. I try to do the same
when reading or listening to podcasts. Here’s an idea that goes against
the grain:</p>
<p>Chinese economist Keyu Jin discusses the Chinese motto “quick, flat,
fast.” While it’s considered a short-term trend, short-termism
prioritizes immediate profit or reward, quick execution of projects, and
short-term results over long-term results and strategic action.</p>
<h2 id="reference">Reference</h2>
<div id="refs" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" data-line-spacing="2" role="list">
<div id="ref-darwinAutobiographyCharlesDarwin2003" class="csl-entry"
role="listitem">
Darwin, C. (2003). <em>The Autobiography of Charles Darwin</em>.
Icon,Totem Books.
</div>
</div>
