<h1 id="emptiness">Emptiness</h1>
<p>2025-12-25</p>
<p>Clay transforms into pottery through craft, but it’s the emptiness
within that makes a pot truly useful. What’s absent can be just as
significant as what’s present. This idea originates from the Tao Te
Ching, a foundational text of Taoism. <span class="citation"
data-cites="tzuTaoTeChing1989">(Tzu &amp; Needleman, 1989)</span></p>
<h2 id="reference">Reference</h2>
<div id="refs" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" data-line-spacing="2" role="list">
<div id="ref-tzuTaoTeChing1989" class="csl-entry" role="listitem">
Tzu, L., &amp; Needleman, J. (1989). <em>Tao Te Ching: Text Only
Edition</em> (G.-F. Feng, J. English, &amp; T. Lippe, Trans.; Reprint
edition). Vintage.
</div>
</div>
