<h1 id="rick-rubin">Rick Rubin</h1>
<p>2026-01-04</p>
<p>Rick Rubin is a remarkable man who has produced such notable artists
as Johnny Cash and Jake Bugg. I recently came across The Way of Code
<span class="citation" data-cites="anthropicRickRubinWay">(Anthropic,
n.d.)</span>, in which he notes, “Each encounter I’ve had with Lao Tzu
has pointed to something new. Almost as if the book changes with every
reading. I first picked up Stephen Mitchell’s translation 40 years ago
at the Bodhi Tree bookstore in Los Angeles, and my life has never been
quite the same.” When I read the Tao Te Ching <span class="citation"
data-cites="tzuTaoTeChing1989">(Tzu &amp; Needleman, 1989)</span>, I was
equally taken away.</p>
<h2 id="references">References</h2>
<div id="refs" class="references csl-bib-body hanging-indent"
data-entry-spacing="0" data-line-spacing="2" role="list">
<div id="ref-anthropicRickRubinWay" class="csl-entry" role="listitem">
Anthropic, R. R. and. (n.d.). <em>Rick Rubin | The Way of Code: The
Timeless Art of Vibe Coding</em>. The Way of Code. Retrieved January 4,
2026, from <a
href="https://thewayofcode.com/">https://thewayofcode.com/</a>
</div>
<div id="ref-tzuTaoTeChing1989" class="csl-entry" role="listitem">
Tzu, L., &amp; Needleman, J. (1989). <em>Tao Te Ching: Text Only
Edition</em> (G.-F. Feng, J. English, &amp; T. Lippe, Trans.; Reprint
edition). Vintage.
</div>
</div>
